@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .grecaptcha-badge {
    visibility: hidden;
  }
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-light-5 dark:bg-dark-5 text-light-1 dark:text-dark-2 min-h-screen font-inter;
  }
}

@layer utilities {
  /* TYPOGRAPHY */

  .main-color {
    @apply bg-secondary-500;
  }

  .blue-color {
    @apply bg-primary-600 dark:bg-primary-500 hover:bg-primary-500 dark:hover:bg-primary-600;
  }

  .message-companion-bg-color {
    @apply bg-light-5 dark:bg-dark-4;
  }

  .message-my-bg-color {
    @apply bg-primary-600 dark:bg-primary-500;
  }

  .text-blue-color {
    @apply text-primary-600 dark:text-primary-500 hover:text-primary-500 dark:hover:text-primary-600;
  }

  .bg-main-color {
    @apply !bg-light-5 dark:!bg-dark-5;
  }

  .bg-second-color {
    @apply !bg-light-2 dark:!bg-dark-6;
  }

  .bg-third-color {
    @apply !bg-light-2 dark:!bg-dark-2;
  }

  .write-color {
    @apply !bg-light-5 dark:!bg-dark-3 text-light-4;
  }

  .text-main-color {
    @apply text-dark-2  dark:text-light-1;
  }

  .text-second-color {
    @apply text-dark-2  dark:text-light-2;
  }

  .sidebar-bg-color {
    @apply !bg-light-2 dark:!bg-dark-2;
  }

  .border-main-color {
    @apply !border-light-3 dark:!border-dark-4;
  }

  .svg-color {
    @apply !fill-primary-600 dark:!fill-primary-500;
  }

  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .invert-black {
    @apply invert brightness-200 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-light-2 dark:bg-[#09090a];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .custom-scrollbar-without::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 custom-scrollbar lg:px-[40px] lg:py-14 2xl:!px-[252px] 2xl:!py-[80px];
  }

  /* All Users */
  .user-container {
    @apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9;
  }

  .user-grid {
    @apply w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  .user-grid_rightsidebar {
    @apply xl:grid-cols-2;
  }
  /* Explore */
  .explore-container {
    @apply flex flex-col flex-1 items-center overflow-scroll py-10 px-5 md:p-14 custom-scrollbar lg:!px-[71px] 2xl:!px-[52px] lg:!py-[49px] 2xl:!py-[77px];
  }

  .explore-inner_container {
    @apply max-w-5xl flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .input-serch {
    @apply flex h-10 w-full rounded-md border  bg-background px-3 py-2 text-sm  file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none  disabled:cursor-not-allowed disabled:opacity-50;
  }

  .explore-search {
    @apply h-12 border-none placeholder:text-light-4 !important;
  }

  /* Home */
  .home-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }

  .home-posts {
    @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .home-creators {
    @apply hidden xl:flex flex-col w-72 2xl:w-465 px-6 py-10 gap-10  overflow-scroll custom-scrollbar;
  }

  /* Post Details */
  .post_details-container {
    @apply flex flex-col flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar items-center;
  }

  .post_details-card {
    @apply w-full max-w-5xl rounded-[30px] flex-col flex xl:flex-row  xl:rounded-l-[24px];
  }

  .post_details-img {
    @apply h-80 lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 bg-dark-1 max-sm:h-[280px];
  }

  .post_details-info {
    @apply bg-dark-2 flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
  }

  .post_details-delete_btn {
    @apply p-0 flex gap-3 hover:bg-transparent hover:text-light-1  text-light-1 small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }

  .profile-tab {
    @apply flex-center gap-3 py-4 w-48  transition flex-1 xl:flex-initial;
  }

  /* Saved */
  .saved-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  /* Bottom bar */
  .bottom-bar {
    @apply z-50 flex-between w-full sticky bottom-0 rounded-t-[20px] bg-[#E0E0E0]/90 dark:bg-[#101012]/90 pl-[27px] pr-[22px] pt-[12px] pb-[15px] md:hidden h-[70px];
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 lg:h-[480px] w-full rounded-[24px] object-cover object-top;
  }

  .file_uploader-label {
    @apply text-light-4 text-center small-regular w-full p-4 border-t border-t-dark-4;
  }

  .file_uploader-box {
    @apply flex-center flex-col p-7 h-80 lg:h-[612px];
  }

  /* Grid Post List */
  .grid-container {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  .grid-post_link {
    @apply flex rounded-[24px] border border-dark-4 overflow-hidden cursor-pointer w-full h-full;
  }

  .grid-post_user {
    @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-dark-3 to-transparent rounded-b-[24px] gap-2;
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden md:flex px-6 py-10 flex-col justify-between min-w-[320px] bg-dark-2;
  }

  .leftsidebar-link {
    @apply rounded-lg base-medium hover:bg-primary-500 transition;
  }

  .rightsidebar {
    @apply hidden xl:flex px-6 py-10 flex-col flex-wrap justify-between max-w-[465px] bg-dark-2;
  }

  /* Post Card */
  .post-card {
    @apply rounded-3xl border  p-5 lg:p-7 w-full max-w-screen-sm;
  }

  .post-card_img {
    @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[24px] object-cover mb-5 max-sm:h-full;
  }

  /* Topbar */
  .topbar {
    @apply sticky top-0 z-50 md:hidden bg-[#EFEFEF] dark:bg-[#09090A] border-b border-[#7878A3] w-full h-[72px] pl-[16px] pr-[8px] py-[16px] flex items-center justify-between;
  }

  /* User card */
  .user-card {
    @apply flex-center flex-col gap-4 border  rounded-[20px] px-5 py-8;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  .comment-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-neutral-800;
  }

  /* Form */

  .shad-form_message {
    @apply text-red text-[16px] !important;
  }

  .shad-input {
    @apply flex w-full rounded-md border px-3 py-2 text-[16px]  file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none  disabled:cursor-not-allowed disabled:opacity-50 h-14 border-none placeholder:text-dark-2  dark:placeholder:text-light-1 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-primary-600 dark:ring-offset-primary-500 !important;
  }

  .shad-textarea {
    @apply h-36 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply whitespace-nowrap text-sm font-medium  transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-14 px-4 py-2 text-light-1 flex gap-2 rounded-[8px] justify-center items-center !important;
  }

  .shad-button_dark_4 {
    @apply h-12  px-5 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
}

body {
  transition: color 0.3s, background-color 0.3s;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
